/**
* @file
* @date 2022-02-10
* @author zhoubin
* @lastModify zhoubin 2022-02-10
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.editPaperPreview_container {
    display: flex;
    justify-content: space-between;
}
.editPaperPreview_plugin {
    width: 29.7rem;
    height: 100%;
    padding-left: 1.5rem;
    background: $background;
}
.editPaperPreview_pluginContent {
    height: 100%;
    border-left: 0.1rem solid $neutral_200;
}
.editPaperPreview_plugin_title {
    @include subtitle_1();
    position: absolute;
    top: 0;
    right: 0.2rem;
    width: 28rem;
    height: 4.2rem;
    padding-left: 1.5rem;
    line-height: 4.2rem;
    background: $background;
    border-left: 0.1rem solid $neutral_200;
    color: $neutral_600;
}
.editPaperPreview_plugin_item {
    height: 8.4rem;
    padding-right: 1.5rem;
    cursor: pointer;
    &:nth-of-type(n + 2) {
        margin-top: 1.8rem;
    }
}
.editPaperPreview_plugin_item__select {
    position: relative;
    background: $neutral_50;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0.4rem;
        height: 8.4rem;
        background: $primary_500;
    }
}
.editPaperPreview_plugin_info {
    display: flex;
    align-items: center;
    > img {
        width: 2rem;
        height: 2rem;
        margin-top: 0.6rem;
        margin-left: 1.5rem;
        margin-right: 0.8rem;
    }
}
.editPaperPreview_plugin_name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
    > span {
        @include body_2();
        color: $neutral_600;
    }
    > div {
        @include label_2();
        height: 1.8rem;
        line-height: 1.8rem;
        color: $primary_600;
        border: 0.1rem solid $primary_600;
        border-radius: 0.4rem;
        > span {
            display: inline-block;
            transform: scale(0.833);
        }
    }
}
.editPaperPreview_plugin_description {
    @include label();
    padding-left: 4.3rem;
}

.editPaperPreview_survey {
    @include h_3();
    padding-top: 2.4rem;
    color: $primary_600;
}
.editPaperPreview_survey_options {
    margin-top: 1rem;
    .radio_wrap {
        margin-bottom: 0.8rem;
    }
    .radio_content {
        @include body_2();
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
