/**
* @file
* @date 2022-01-13
* @author zhoubin
* @lastModify zhoubin 2022-01-13
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.hoverContent_argumentTip {
    position: absolute;
    padding: 1.6rem;
    width: 32rem;
    height: 23.2rem;
    box-shadow: $shadow_medium;
    border-radius: 1rem;
    z-index: 999;
    transform: translate(calc(-100% + 9rem), calc(-100% - 1.5rem));
    &::before {
        content: '';
        position: absolute;
        right: 3rem;
        bottom: -1rem;
        border: 0;
        border-style: solid;
        border-width: 1.6rem 1.6rem 0 1.6rem;
        border-color: $background transparent transparent transparent;
    }
}
.hoverContent_argumentItem {
    margin-bottom: 1.2rem;
    > div {
        &:first-child {
            @include body_2();
            height: 2rem;
            line-height: 2rem;
            color: $neutral_600;
        }
        &:last-child {
            @include body_2();
            margin-top: 0.4rem;
            height: 2rem;
            line-height: 2rem;
            color: $neutral_400;
        }
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
