/**
* @file
* @date 2021-12-25
* @author zhoubin
* @lastModify zhoubin 2021-12-25
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.caseCader_container {
    display: inline-block;
    position: relative;
}
.caseCader_input_inner {
    border: 1px solid #ebebeb;
    padding: 0 1.2rem;
    padding-right: 3.6rem;
    outline: none;
    border-radius: 0.5rem;
    height: 3.6rem;
    min-width: 22.9rem;
    cursor: pointer;
    user-select: none;
    &:hover {
        border: 1px solid #22a6b3;
    }
}
.caseCader_input_suffix {
    position: absolute;
    height: 100%;
    right: 1.2rem;
    top: 0;
    text-align: center;
    color: #c0c4cc;
    transition: all 0.3s;
    pointer-events: none;
}
.caseCader_input_suffix__inner {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
}

.caseCader_panel {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(26, 26, 26, 0.06), 0px 6px 20px -2px rgba(26, 26, 26, 0.14);
    border-radius: 6px;
    margin-top: 0.5rem;
}

.casCader_menu {
    min-width: 13.7rem;
    box-sizing: border-box;
    color: #606266;
    border-right: 0.1rem solid #ebebeb;
}
.casCader_menu_second {
    width: 15.6rem !important;
    .casCader_menu__item {
        max-width: 14.7rem;
    }
}
.casCader_menu__list {
    padding: 0 0.4rem;
    padding-top: 0.8rem;
    position: relative;
    min-height: 100%;
    margin: 0;
    min-height: 100%;
    height: 188px;
    list-style: none;
    box-sizing: border-box;
}
.casCader_menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.2rem;
    height: 2.8rem;
    border-radius: 4px;
    cursor: pointer;
    > span {
        white-space: nowrap;
    }
    svg {
        margin-right: 1.3rem;
        font-size: 1.2rem;
    }
}

.casCader_menu__itemSelect {
    background: #e9f7f8;
    color: #22a6b3;
}
.casCader_menu_label {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
/* <--------------------------- * SECTION1 * --------------------------- */
