/**
* @file 
* @date 2021-12-13
* @author zhoubin 
* @lastModify zhoubin  2021-12-13
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.pop_toast_container {
    position: fixed;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    z-index: 9999;
}
.toastBox_container {
    margin-top: 1rem;
    padding: 1.2rem 1.5rem;
    font: $fs_r_14;
    color: $background;
    background: rgba($type, 0.8);
    box-shadow: $shadow_04dp;
    border-radius: 0.4rem;
}
/* <--------------------------- * SECTION1 * --------------------------- */
