/**
* @file Tool Bar style
* @date 2020-10-22
* @author Frank
* @lastModify Andy Jiang 2020-11-26
*/

/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */

/** Import all the reference constant after this line */

@import '../../Constant/breakPoint.scss';
@import '../../Constant/font.scss';
@import '../../Constant/color.scss';

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/*
/*
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */

@mixin commonStyle {
    user-select: none;
    cursor: pointer;
    transition: 0.2s linear;
}

@mixin commonBorder {
    border: 1px solid $line_light;
    border-radius: 0.3rem;
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */

/* <------------------------------------ **** COMMON STYLE START **** ------------------------------------ */

.toolBar_wrapper {
    @include commonBorder;
    width: 42rem;
    height: 2.2rem;
    box-shadow: $shadow_01dp;
    background: $background;
    font: $caption;
}

.toolBar_commentWrapper {
    @include commonStyle;
    width: 9rem;
    height: 100%;
    display: inline-block;
    color: $line_dark;
    border-right: 1px solid $line_light;
    &:hover {
        color: $primary;
    }
}

.toolBar_commentIcon {
    height: 100%;
    font-size: $fs_14;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.toolBar_commentContent {
    font-size: $fs_14;
    line-height: 2.2rem;
    vertical-align: top;
}

/* <------------------------------------ **** COMMON STYLE END **** ------------------------------------ */

/* <------------------------------------ **** STYLE BAR START **** ------------------------------------ */

.toolBar_styleBar {
    width: 13.5rem;
    height: 2.2rem;
    display: inline-block;
    border-right: 1px solid $line_light;
    line-height: 2.2rem;
    vertical-align: top;
}

.toolBar_styleBarItemWrapper {
    width: 2.5rem;
    height: 2.2rem;
    display: inline-block;
    vertical-align: top;
}

.toolBar_styleBarItem {
    @include commonStyle;
    height: 2.2rem;
    text-align: center;
    color: $line_dark;
    position: relative;
    font-size: $fs_12;
    &:hover {
        color: $primary;
    }
    &:hover > div {
        opacity: 1;
        visibility: visible;
    }
}

// hit style
.toolBar_styleBarHintWrapper {
    position: absolute;
    width: 7rem;
    height: 2rem;
    top: -2.1rem;
    left: -2.25rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
}

.toolBar_styleBarSuccessHintWrapper {
    position: absolute;
    top: calc(100% + 0.5rem);
    width: 18rem;
    height: 4rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $shadow_04dp;
    border-radius: 0.4rem;
    font: $fs_14;
    background: $background;
    justify-content: center;
    align-items: center;
    color: #333333 !important;
    > span {
        color: #52c41a;
        margin-right: 1rem;
        font-size: 2.3rem;
    }
}

.toolBar_styleBarHintBlock {
    width: 6rem;
    height: 2rem;
    background: $line_dark;
    margin: auto;
    border-radius: 0.5rem;
    color: $background;
    font-size: $fs_12;
}

.toolBar_styleBarPoint {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.3px 2.5px 0 2.5px;
    border-color: $line_dark transparent transparent transparent;
    margin: auto;
}

// sub menu style
.toolBar_styleBarSubMenuWrapper {
    @include commonBorder;
    width: 11rem;
    background: $background;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    box-shadow: $shadow_01dp;
    text-align: left;
}

.toolBar_styleBarSubMenuItemWrapper {
    width: 100%;
    height: 2rem;
    color: $line_dark;
    position: relative;
    transition: 0.2s linear;
    &:hover {
        color: $background;
        background: $primary_variant;
    }
}

.toolBar_styleBarSubMenuItemIcon {
    margin-left: 0.5rem;
    margin-right: 2rem;
}

.toolBar_styleBarSubMenuItemContent {
    float: right;
    height: 2rem;
    line-height: 2rem;
    margin-right: 0.5rem;
}

.toolBar_hiddenColorSelectWrapper {
    position: absolute;
    height: 2rem;
    width: 11rem;
    background: red;
    top: 0px;
    opacity: 0;
}

.toolBar_hiddenColorSelect {
    height: 1.8rem;
    width: 10.5rem;
    cursor: pointer;
}

/* <------------------------------------ **** STYLE BAR END **** ------------------------------------ */

/* <------------------------------------ **** COLOR BAR START **** ------------------------------------ */

.toolBar_colorBar {
    width: 7.7rem;
    height: 100%;
    display: inline-block;
    border-right: 1px solid $line_light;
    line-height: 2.2rem;
    vertical-align: top;
}

/* <------------------------------------ **** COLOR BAR END **** ------------------------------------ */

/* <------------------------------------ **** REMOVE STYLE START **** ------------------------------------ */

.toolBar_removeStyleWrapper {
    width: 2.85rem;
    height: 100%;
    display: inline-block;
    border-right: 1px solid $line_light;
    line-height: 2.2rem;
    vertical-align: top;
}

/* <------------------------------------ **** REMOVE STYLE END **** ------------------------------------ */

/* <------------------------------------ **** TURN INTO START **** ------------------------------------ */

.toolBar_turnIntoWrapper {
    @include commonStyle;
    position: relative;
    width: 8rem;
    height: 2.2rem;
    display: inline-block;
    line-height: 2.2rem;
    vertical-align: top;
    color: $line_dark;
    &:hover {
        color: $line_dark;
    }
    &:hover > div {
        opacity: 1;
        visibility: visible;
    }
}

.toolBar_turnIntoWrapper > span {
    margin-left: 0.2rem;
}

.toolBar_turnIntoIconWrapper {
    display: inline-block;
    margin-left: 0.7rem;
}

.toolBar_turnIntoList {
    @include commonStyle;
    @include commonBorder;
    width: 10rem;
    opacity: 0;
    visibility: hidden;
    background: $background;
    box-shadow: $shadow_01dp;
    text-align: center;
}

.toolBar_turnIntoList > span {
    display: block;
    @include commonStyle;
    color: $line_dark;
    &:hover {
        background: $primary_variant;
        color: $background;
    }
}

.toolBar_divideLine {
    width: 100%;
    height: 0.1rem;
    background: $line_light;
}

/* <------------------------------------ **** TURN INTO END **** ------------------------------------ */
