/**
* file: project style font size and font family file
* date: 2020-07-21
* author: Frank
* lastModify: Frank 2021-02-25
*/

// font family list
$commonFamily: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', 'Calibri',
    'Segoe UI', 'Ping Fang SC', 'Microsoft Yahei';

// combined font naming rule: fs_`font weight`-`font size`
// font weight list
// r: regular 400
// l: light 300
// m: medium 500

$fs_r_48: 400 4.8rem $commonFamily;
$fs_m_34: 500 3.4rem $commonFamily;
$fs_r_34: 400 3.4rem $commonFamily;
$fs_l_34: 300 3.4rem $commonFamily;
$fs_r_30: 400 3rem $commonFamily;
$fs_l_30: 300 3rem $commonFamily;
$fs_m_24: 500 2.4rem $commonFamily;
$fs_r_24: 400 2.4rem $commonFamily;
$fs_r_22: 400 2.2rem $commonFamily;
$fs_l_22: 300 2.2rem $commonFamily;
$fs_m_20: 500 2rem $commonFamily;
$fs_r_20: 400 2rem $commonFamily;
$fs_l_20: 300 2rem $commonFamily;
$fs_m_18: 500 1.8rem $commonFamily;
$fs_r_18: 400 1.8rem $commonFamily;
$fs_l_18: 300 1.8rem $commonFamily;
$fs_m_16: 500 1.6rem $commonFamily;
$fs_r_16: 400 1.6rem $commonFamily;
$fs_l_16: 300 1.6rem $commonFamily;
$fs_m_14: 500 1.4rem $commonFamily;
$fs_r_14: 400 1.4rem $commonFamily;
$fs_l_14: 300 1.4rem $commonFamily;
$fs_m_12: 500 1.2rem $commonFamily;
$fs_r_12: 400 1.2rem $commonFamily;
$fs_l_12: 300 1.2rem $commonFamily;
$fs_r_10: 400 1rem $commonFamily;
$fs_l_10: 300 1rem $commonFamily;

/**
* new font variable
*/
@mixin h_1 {
    font: 400 3.4rem/3.6rem $commonFamily;
    letter-spacing: 0px;
}
@mixin h_2 {
    font: 400 2.4rem/2.4rem $commonFamily;
    letter-spacing: 0.018rem;
}
@mixin h_3 {
    font: 500 2rem/2.4rem $commonFamily;
    letter-spacing: 0.015rem;
}
@mixin subtitle_1 {
    font: 400 1.6rem / 2.4rem $commonFamily;
    letter-spacing: 0.015rem;
}
@mixin subtitle_2 {
    font: 500 1.4rem/2.4rem $commonFamily;
    letter-spacing: 0.01rem;
}
@mixin body_1 {
    font: 400 1.6rem / 2.4rem $commonFamily;
    letter-spacing: 0.05rem;
}
@mixin body_2 {
    font: 400 1.4rem / 2rem $commonFamily;
    letter-spacing: 0.025rem;
}
@mixin label {
    font: 400 1.2rem / 1.6rem $commonFamily;
    letter-spacing: 0.04rem;
}
@mixin label_2 {
    font: 400 1rem / 1.6rem $commonFamily;
    letter-spacing: 0.1rem;
}
@mixin overline {
    font: 400 1rem / 1.4rem $commonFamily;
    letter-spacing: 0.1rem;
}
