/**
* @file
* @date 2022-02-11
* @author zhoubin
* @lastModify zhoubin 2022-02-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.searchPluginInput_container {
    display: inline-flex;
    align-items: center;
    height: 3.6rem;
    border: 0.1rem solid $not_activated;
    border-radius: 0.6rem;
    user-select: none;
    &:hover {
        border: 0.1rem solid #67cdd6;
    }
}
.searchPluginInput_drop {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 2rem;
    margin-right: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 0.8rem;
    border-right: 0.1rem solid $not_activated;
    cursor: pointer;
    svg {
        margin-left: 0.8rem;
        font-size: 1.3rem !important;
        transition: all 0.2s ease;
    }
}
.searchPluginInput_dropList {
    position: absolute;
    top: 3.2rem;
    left: 0;
    width: 13.7rem;
    padding: 0 0.4rem;
    padding-bottom: 1.6rem;
    background: $background;
    box-shadow: 0px 2px 8px rgba(26, 26, 26, 0.08), 0px 2px 4px rgba(26, 26, 26, 0.03);
    border-radius: 0.6rem;
    cursor: pointer;
    > div {
        margin-top: 1.2rem;
        padding-left: 0.8rem;
        width: 100%;
        height: 2.8rem;
        line-height: 2.8rem;
        font-size: 1.4rem;
        color: #757575;
        border-radius: 0.4rem;
        &:hover {
            color: $primary_400;
        }
    }
    .searchPluginInput_dropItem__select {
        color: #22a6b3 !important;
        background: #e9f7f8;
    }
}
.searchPluginInput_input {
    width: 17rem;
    border: none;
    outline: none;
}
.searchPluginInput_searchButton {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.4rem;
    line-height: 2.8rem;
    text-align: center;
    background: #edf4f6;
    border-radius: 0.8rem;
    cursor: pointer;
    svg {
        color: $primary_variant;
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
