/**
* @file
* @date 2022-02-09
* @author zhoubin
* @lastModify zhoubin 2022-02-09
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.tabs_navBar {
    position: relative;
    height: 2.6rem;
    border-bottom: 0.1rem solid $neutral_200;
}
.tabs_tab {
    @include body_2();
    display: inline-block;
    position: relative;
    padding: 0 0.8rem;
    padding-bottom: 0.4rem;
    color: $neutral_500;
    cursor: pointer;
    &:nth-of-type(n + 2) {
        margin-left: 2.6rem;
    }
    &::after {
        content: '';
    }
}
.tabs_tab__active {
    color: $primary_600;
}
.tabs_ink {
    position: absolute;
    bottom: 0;
    left: 0rem;
    height: 0.2rem;
    transform: translateY(50%);
    background: $primary_600;
    pointer-events: none;
    transition: left 0.3s ease;
}
/* <--------------------------- * SECTION1 * --------------------------- */
