/**
* @file
* @date 2022-02-11
* @author zhoubin
* @lastModify zhoubin 2022-02-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.aBTestingCard_container {
    padding: 1.6rem 2.4rem;
}
.aBTestingCard_title {
    display: flex;
    justify-content: space-between;
    > span {
        @include subtitle_2();
        white-space: nowrap;
    }
}
.aBTestingCard_addPaper {
    display: inline-flex;
    align-items: center;
    color: $primary_600;
    cursor: pointer;
    svg {
        margin-right: 0.7rem;
    }
}
.aBTestingCard_paperList {
    margin-top: 2.5rem;
}
.aBTestingCard_paperItem {
    width: 100%;
    padding: 1.6rem;
    border: 0.1rem solid $neutral_200;
    border-radius: 1rem;
    &:nth-of-type(n + 2) {
        margin-top: 2rem;
    }
}
.aBTestingCard_paperName {
    display: flex;
    align-items: center;
    > span {
        @include body_2();
        width: 14.3rem;
        color: $neutral_600;
    }
    > div {
        flex: 1;
        display: flex;
        justify-content: space-between;
        @include body_2();
        color: $neutral_400;
        div {
            position: relative;
            &:focus {
                .aBTestingCard_more {
                    display: flex;
                }
            }
        }
        svg {
            font-size: 1.4rem;
            color: $primary_600;
            cursor: pointer;
        }
    }
    .aBTestingCard_more {
        display: none;
        position: absolute;
        right: 0;
        flex-direction: column;
        justify-content: space-between;
        width: 9.8rem;
        height: 8rem;
        padding: 0.8rem 0.4rem;
        background: $background;
        box-shadow: $shadow_regular;
        border-radius: 0.6rem;
        user-select: none;
        > div {
            width: 8.7rem;
            height: 2.8rem;
            line-height: 2.8rem;
            border-radius: 0.4rem;
            cursor: pointer;
            &:hover {
                background: $primary_10;
            }
            svg {
                margin: 0 0.873rem;
                font-size: 1.4rem;
                color: $neutral_400;
            }
            &:nth-of-type(2) {
                color: $danger_600;
                svg {
                    color: $danger_600;
                }
            }
        }
    }
}
.aBTestingCard_paperApplied {
    display: flex;
    align-items: center;
    > span {
        &:nth-of-type(1) {
            @include body_2();
            width: 14.3rem;
            color: $neutral_600;
        }
    }
    .aBTestingCard_badge {
        width: 0.8rem;
        height: 0.8rem;
        background: $danger_600;
        border-radius: 50%;
        cursor: pointer;
    }
    > div {
        @include body_2();
        display: flex;
        color: $neutral_400;
    }
}
.aBTestingCard_update {
    .kite_body {
        display: flex;
        align-items: center;
        width: 19.3rem;
        height: 3.2rem;
        font-size: 1.2rem;
        > span {
            line-height: 1.6rem;
        }
        svg {
            margin-right: 0.4rem;
            font-size: 1.6rem;
        }
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
