/**
* file: project style font size and font family file
* date: 2020-07-21
* author: Frank
* lastModify: Andy Jiang 2020-11-26
*/

//this file will contain all the font size and font family that will be used in the project
// font size list
$fs_24: 2.4rem;
$fs_20: 2rem;
$fs_18: 1.8rem;
$fs_16: 1.6rem;
$fs_14: 1.4rem;
$fs_12: 1.2rem;
// font family list
$commonFamily: 'Noto Sans',
Roboto,
Helvetica,
Arial,
Calibri,
'Segoe UI',
'Oing Fang SC',
'Microsoft Yahei';
// combined font
$headline_h1: lighter 96px $commonFamily;
$headline_h2: lighter 60px $commonFamily;
$headline_h3: normal 48px $commonFamily;
$headline_h4: normal 34px $commonFamily;
$headline_h5: bold 24px $commonFamily;
$headline_h6: normal 20px $commonFamily;
$subtitle_s1:normal 16px $commonFamily;
$subtitle_s2:bold 14px $commonFamily;
$body_b1:normal 16px $commonFamily;
$body_b2:normal 14px $commonFamily;
$button:bolder 14px $commonFamily;
$caption:normal 12px $commonFamily;
$overline:normal 10px $commonFamily;
$fs_r_10:400 1rem $commonFamily;