/**
* @file
* @date 2022-02-11
* @author zhoubin
* @lastModify zhoubin 2022-02-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.myPlugins_container {
    padding: 2.4rem 0;
}
.searchPluginInput_container {
    margin-left: 1rem;
}
.myPlugins_pluginList {
    margin-top: 1.2rem;
    width: 100%;
}
.myPlugins_pluginItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10.8rem;
    &:nth-of-type(n + 2) {
        margin-top: 0.8rem;
    }
    img {
        width: 5rem;
        height: 5rem;
        margin-left: 1rem;
        margin-right: 1.6rem;
        border-radius: 0.6rem;
    }
    &:hover {
        background: $neutral_50;
        border-radius: 1rem;
        box-shadow: $shadow_small;
        .myPlugins_pluginInfo_enter {
            display: block;
        }
    }
}
.myPlugins_pluginInfo {
    width: 100%;
}
.myPlugins_pluginInfo_title {
    @include subtitle_2();
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $neutral_600;
    .myPlugins_pluginInfo_enter {
        display: none;
        font-size: 1.6rem;
        margin-right: 1.3rem;
        color: $primary_600;
        cursor: pointer;
    }
}
.myPlugins_pluginInfo_keyword {
    display: flex;
    span {
        @include label_2();
        display: inline-block;
        margin: 0.7rem 0;
        padding: 0 0.4rem;
        color: $primary_500;
        background: $primary_50;
        border-radius: 1.5rem;
        &:nth-of-type(n + 2) {
            margin-left: 0.4rem;
        }
    }
}
.myPlugins_pluginInfo_description {
    @include label();
    color: $neutral_400;
}
.myPlugins_pagination {
    margin-top: 3rem;
    margin-bottom: 1.8rem;
}
/* <--------------------------- * SECTION1 * --------------------------- */
