/**
* @file
* @date 2022-02-11
* @author zhoubin
* @lastModify zhoubin 2022-02-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.addNewPaper_container {
    position: relative;
    padding: 3.2rem 2.4rem;
    width: 42rem;
    height: 25.2rem;
}
.addNewPaper_title {
    @include h_2();
    color: $neutral_700;
}
.addNewPaper_paperName {
    @include subtitle_1();
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: $neutral_600;
    .generalInput_inputContainer {
        margin-top: 0.8rem;
    }
}
.addNewPaper_btn {
    position: absolute;
    bottom: 1.6rem;
    right: 2.4rem;
    button {
        &:nth-of-type(1) {
            color: $primary_600 !important;
        }
        &:nth-of-type(2) {
            background: $primary_600;
            box-shadow: 0px 2px 6px rgba(26, 26, 26, 0.06), 0px 3px 15px rgba(26, 26, 26, 0.1);
            border-radius: 0.6rem;
        }
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
