/**
* @file
* @date 2022-02-09
* @author zhoubin
* @lastModify zhoubin 2022-02-09
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.pluginDropDown_select {
    width: auto !important;
    height: 3.2rem !important;
    .dropDownListV2_container {
        border: 0.1rem solid transparent;
        &:focus {
            background: $bg;
        }
    }
    .pluginDropDown_plugin {
        display: flex;
        align-items: center;
    }
    .pluginDropDown_pluginName {
        display: inline-block;
        width: 12.1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .dropDownListV2_content {
        width: 100%;
    }
    svg {
        margin-left: 1.2rem;
        font-size: 1.1rem;
    }
}
.pluginDropDown_floating {
    .dropDownListV2_labelContainer {
        padding: 0 0.4rem;
    }
    .dropDownListV2_floatingLabel,
    .dropDownListV2_floatingLabelLast {
        &:hover {
            background: none;
        }
    }
    .pluginDropDown_floatingItem {
        padding-left: 0.8rem;
        .pluginDropDown_pluginName {
            display: inline-block;
            width: 12.1rem;
            @include body_2();
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:hover {
            background: $primary_50;
        }
        > span {
            @include body_2();
            color: $neutral_400;
        }
    }
    .dropDownListV2_floatingLabelActive {
        .pluginDropDown_floatingItem {
            background: $primary_10;
            border-radius: 0.4rem;
            > span {
                color: $primary_600 !important;
            }
        }
        .pluginDropDown_pluginName {
            color: $primary_600;
        }
    }
}
.pluginDropDown_floatingItem {
    display: flex;
    align-items: center;
    height: 2.8rem;
    img {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.8rem;
        border-radius: 0.4rem;
    }
}
.pluginDropDown_plugin {
    display: none;
}
/* <--------------------------- * SECTION1 * --------------------------- */
