/**
* @file
* @date 2022-02-10
* @author zhoubin
* @lastModify zhoubin 2022-02-10
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.pluginDetails_container {
    width: 91rem;
    height: 54rem;
    .scroll_scrollBar__vertical {
        margin-right: -2rem;
    }
}
.pluginDetails_title {
    @include h_2();
    padding-top: 2.4rem;
    padding-left: 2.4rem;
    color: $neutral_700;
}
.pluginDetails_scroll {
    margin-top: 1.6rem;
    margin-left: 2.4rem;
}
.pluginDetails_preview {
    width: 100%;
    height: 29rem;
    text-align: center;
    background: $neutral_50;
    border-radius: 1rem;
    img {
        width: 53.2rem;
        height: 26.2rem;
    }
}
.pluginDetails_pluginInfo {
    display: flex;
    margin-top: 2.4rem;
}
.pluginDetails_pluginInfo_leftContainer {
    position: relative;
    width: 54.7rem;
    border-right: 0.1rem solid $neutral_200;
}
.pluginDetails_pluginInfo_leftContainer .pluginDetails_pluginInfo_item {
    &:nth-of-type(n + 2) {
        margin-top: 2rem;
    }
    .pluginDetails_pluginInfo_itemTitle {
        @include subtitle_1();
        color: $neutral_600;
    }
    .pluginDetails_pluginInfo_itemInfo {
        @include body_2();
        margin-top: 0.4rem;
        color: $neutral_400;
    }
}
.pluginDetails_pluginInfo_price {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.6rem;
}
.pluginDetails_pluginInfo_priceInfo {
    @include body_1();
    margin-right: 0.8rem;
    color: #ff6430;
    > span:nth-of-type(1) {
        display: inline-block;
        font-size: 1.2rem;
        transform: scale(0.8655);
    }
}
.pluginDetails_pluginInfo_rightContainer {
    padding-left: 2.4rem;
}
.pluginDetails_pluginInfo_creator {
    > div {
        @include subtitle_1();
        color: $neutral_600;
    }
}
.pluginDetails_pluginInfo_keywords {
    margin-top: 2rem;
    > div {
        @include subtitle_1();
        color: $neutral_600;
    }
}
.pluginDetails_pluginInfo_keywordsLabels {
    span {
        @include label();
        display: inline-block;
        height: 1.6rem;
        margin-right: 0.4rem;
        padding: 0 0.4rem;
        line-height: 1.6rem;
        color: $neutral_400;
        background: $neutral_100;
        border-radius: 1.5rem;
    }
}

.pluginDetails_pluginInfo_creatorInfo {
    margin-top: 0.4rem;
    img {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.8rem;
        border-radius: 50%;
    }
    span {
        @include body_2();
        color: $neutral_400;
    }
}
.pluginDetails_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.4rem;
    width: 100%;
    height: 6.4rem;
    box-shadow: 0px -2px 6px rgba(26, 26, 26, 0.06);
    button {
        &:nth-of-type(1) {
            color: $primary_600 !important;
        }
        &:nth-of-type(2) {
            background: $primary_600;
            box-shadow: 0px 2px 6px rgba(26, 26, 26, 0.06), 0px 3px 15px rgba(26, 26, 26, 0.1);
            border-radius: 0.6rem;
        }
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
